PyJWT==2.8.0
PyYAML==6.0.1
boto3==1.34.128
botocore==1.34.128
charset-normalizer==3.2.0
cryptography==42.0.4
email-validator==2.1.0.post1
fhir.resources[xml]==7.1.0
idna==3.7
inflection==0.5.1
jmespath==1.0.1
oauthlib==3.2.2
packaging==23.0.0
pydantic==2.4.0
pypdf==3.17.2
requests==2.32.0
responses==0.23.1
s3transfer==0.10.1
setuptools==65.5.1
six==1.16.0
types-PyYAML==6.0.12.11
urllib3==2.2.2
