$govuk-compatibility-govukelements: true;
@import 'node_modules/govuk-frontend/govuk/components/phase-banner/phase-banner';
@import 'node_modules/govuk-frontend/govuk/components/warning-text/warning-text';

@import 'node_modules/nhsuk-frontend/packages/nhsuk';
@import 'node_modules/nhsuk-frontend/packages/core/all';
@import 'node_modules/nhsuk-frontend/packages/components/button/button';
@import 'node_modules/nhsuk-frontend/packages/components/input/input';
@import 'node_modules/nhsuk-frontend/packages/components/tables/tables';

/**
*   Styleguide:  Blocks, Elements and Modifiers
*   Docs: https://getbem.com/
**/

// Mixin
$smax: 50;
$soffset: 6;
$sunit: 'px';
@mixin spacing-mixin($className, $styleName) {
    $i: 0;
    $x: 0;
    @while $i <= $smax {
        $x: $x + 1;
        #{$className + $x} {
            #{$styleName}: #{$i + $sunit};
        }
        $i: $i + $soffset;
    }
}

@mixin x-axis-mixin($className, $styleName) {
    $i: 0;
    $x: 0;
    @while $i <= $smax {
        $x: $x + 1;
        #{$className + $x} {
            #{$styleName + '-left'}: #{$i + $sunit};
            #{$styleName + '-right'}: #{$i + $sunit};
        }
        $i: $i + $soffset;
    }
}

@mixin y-axis-mixin($className, $styleName) {
    $i: 0;
    $x: 0;
    @while $i <= $smax {
        $x: $x + 1;
        #{$className + $x} {
            #{$styleName + '-top'}: #{$i + $sunit};
            #{$styleName + '-bottom'}: #{$i + $sunit};
        }
        $i: $i + $soffset;
    }
}

$hmax: 100;
$hoffset: 10;
$hunit: '%';
@mixin size-mixin($className, $styleName) {
    $i: 0;
    $x: 0;
    @while $i <= $hmax {
        $x: $x + 1;
        #{$className + $x} {
            #{$styleName}: #{$i + $hunit};
        }
        $i: $i + $hoffset;
    }
}

@include spacing-mixin('.mt-', 'margin-top');
@include spacing-mixin('.mr-', 'margin-right');
@include spacing-mixin('.mb-', 'margin-bottom');
@include spacing-mixin('.ml-', 'margin-left');
@include spacing-mixin('.pt-', 'padding-top');
@include spacing-mixin('.pr-', 'padding-right');
@include spacing-mixin('.pb-', 'padding-bottom');
@include spacing-mixin('.pl-', 'padding-left');
@include spacing-mixin('.gap-', 'gap');

@include x-axis-mixin('.px-', 'padding');
@include x-axis-mixin('.mx-', 'margin');

@include y-axis-mixin('.py-', 'padding');
@include y-axis-mixin('.my-', 'margin');

@include size-mixin('.h-', 'height');
@include size-mixin('.w-', 'width');

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-center {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.align-center {
    height: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.align-left {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.align-right {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.align-between {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.align-evenly {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.align-bottom {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

.align-top {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.align-baseline {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}

// Spinner

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner_button {
    display: flex;
    color: $color_nhsuk-black;
    background: $color_nhsuk-yellow;

    &:hover {
        color: $color_nhsuk-black;
        background: $color_nhsuk-yellow;
    }

    &:disabled {
        color: $color_nhsuk-black;
        background: $color_nhsuk-yellow;
        opacity: 1;
    }

    &-spinner {
        border: nhsuk-spacing(1) solid rgba($color_nhsuk-white, 0.8);
        border-top: nhsuk-spacing(1) solid $color_nhsuk-black;
        animation: spin 1s linear infinite;
        box-sizing: border-box;
        margin: 5px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

.spinner-blue {
    animation: spin 2s linear infinite;
    border: nhsuk-spacing(3) solid $color_nhsuk-grey-4;
    border-top: nhsuk-spacing(3) solid tint($color_nhsuk-blue, 15%);
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.nhsuk-loader {
    @include nhsuk-responsive-margin(4, bottom);
    @include nhsuk-responsive-margin(4, top);
    position: relative;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;

    &__text {
        @include nhsuk-typography-responsive(19);
        padding-bottom: 16px;
        font-weight: 700;
        display: block;
        margin-bottom: 0;
    }
}

@mixin link-focus {
    background-color: #ffeb3b;
    box-shadow:
        0 -2px #ffeb3b,
        0 4px #212b32;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Lloyd George
.lloydgeorge {
    &_record-stage {
        &_flex {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 0 -15px;

            &-row {
                margin: 0 15px;

                &--menu {
                    flex-basis: calc(70% - 17px);
                }

                &--upload {
                    flex-basis: 100%;
                }
            }
        }

        &_patient-info {
            p {
                font-size: 1.2rem;
            }

            p:first-child {
                margin-bottom: 5px;
                font-weight: 700;
            }

            p:nth-child(2) {
                margin-bottom: 0;
            }
        }

        &_menu {
            &-content {
                padding: 24px;

                ol {
                    padding-left: 0;

                    li {
                        font-size: 1rem;
                        list-style-type: none;
                    }
                }
            }
        }

        &_pdf {
            margin-bottom: 0;

            &-content {
                @extend .nhsuk-body-s;
                position: relative;

                &-label {
                    font-weight: 700;
                    font-size: 1.5rem;
                }

                p {
                    margin-bottom: 0;
                }

                &-no_record {
                    text-align: right;

                    &-upload {
                        margin-bottom: 0;
                    }
                }

                &-button {
                    position: absolute;
                    right: 28px;
                }
            }

            &-expander {
                position: relative;
                margin-bottom: 0;
                border-left: none;
                border-right: none;
            }
        }

        &_gp-admin-non-bsol {
            &_inset-text {
                padding-bottom: 0;
                padding-top: 0;

                &_confirm-download-remove-button {
                    background-color: #b61105;
                    box-shadow: #9a0c02;

                    &:hover {
                        background-color: #9a0c02;
                    }

                    &:active {
                        background-color: #9a0c02;
                    }
                }

                &_checkbox {
                    margin-bottom: 30px;
                }
            }
        }
    }

    &_downloadall-stage {
        &_header {
            h2 {
                margin: 0;
            }

            h4 {
                font-weight: unset;
                font-style: unset;
            }
        }

        &_details {
            @extend .nhsuk-body-s;

            &-content {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }
        }
    }

    &_record-details {
        @extend .nhsuk-body-s;

        &_details {
            &--last-updated {
                margin-bottom: 16px;
            }

            &--num-files {
                color: #4c6272;
            }
        }

        &_download-remove-button {
            position: absolute;
            top: 80px;
            right: 32px;

            &_content {
                position: relative;
            }
        }

        &_actions {
            position: absolute;
            top: 32px;
            right: 32px;

            &-select {
                border-color: #000;
                background: #fff;
                position: relative;
                box-sizing: border-box;
                border: none;
                padding: 0;
                width: 182.5px;
                @media (max-width: 640px) {
                    width: 161.5px;
                }
                @media (max-width: 480px) {
                    display: none;
                }

                &_border {
                    border: solid black 2px;
                    width: 100%;
                    height: 100%;

                    &--selected {
                        border-width: 4px;
                    }
                }

                &:focus,
                &:active,
                &--selected {
                    box-shadow: 0px 0px 0px 4px #ffeb3b;
                }

                &_placeholder {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                    box-sizing: border-box;
                }

                &_icon {
                    height: 9px;
                    width: auto;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 5px;
                    box-sizing: border-box;
                }

                cursor: pointer;
            }

            &-menu {
                position: absolute;
                right: 0px;
                z-index: 1000;
                width: 252.5px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

                ol {
                    padding-left: 0;

                    li {
                        font-size: 1rem;
                        list-style-type: none;
                    }
                }
            }
        }
    }

    &_download-complete {
        width: 711px;

        &_details {
            &-content {
                padding: 95px 76px;
                text-align: center;
                background-color: $color_nhsuk-blue;
                color: #fff;
                font-size: 1.5rem;
                white-space: pre-wrap;

                &_header {
                    font-weight: 700;
                    font-size: 3rem;
                    margin-bottom: 25px;
                }

                &_subheader {
                    font-weight: 700;
                    margin-top: 25px;
                }

                &_description {
                    font-size: 1.5rem !important;
                }
            }
        }

        &_paragraph-headers {
            font-weight: 700;
            font-size: 2rem;
        }

        &_paragraph-subheaders {
            font-weight: 700;
            font-size: 1.2rem;
            margin-top: 2.4rem;
        }
    }

    &_delete-complete {
        width: 711px;

        &_details {
            &-content {
                padding: 95px 76px;
                text-align: center;
                background-color: $color_nhsuk-blue;
                color: #fff;
                font-size: 1.5rem;
                white-space: pre-wrap;

                &_header {
                    font-weight: 700;
                    font-size: 3rem;
                    margin-bottom: 25px;
                }

                &_subheader {
                    font-weight: 700;
                    margin-top: 25px;
                }

                &_description {
                    font-size: 1.5rem !important;
                }
            }
        }

        &_paragraph-headers {
            font-weight: 700;
            font-size: 2rem;
        }

        &_paragraph-subheaders {
            font-weight: 700;
            font-size: 1.2rem;
            margin-top: 2.4rem;
        }
    }

    &_upload-complete {
        max-width: 711px;

        &_card {
            &_content {
                padding: 95px 76px;
                text-align: center;
                background-color: $color_nhsuk-blue;
                color: #fff;
                font-weight: 400;
                font-size: 1.5rem !important;
                white-space: pre-wrap;

                &_header {
                    font-weight: 700;
                    font-size: 3rem;
                }

                &_subheader {
                    font-weight: 700;
                    margin-top: 25px;
                }

                &_description {
                    font-size: 1.5rem !important;
                }
            }
        }
    }

    &_drag-and-drop {
        display: flex;
        width: 100%;
        max-width: 960px;
        padding: 32px;
        align-items: center;
        gap: 34px;
        border: 1px dashed #212b32;
        background: #d8dde0;
    }

    &_link {
        background: none;
        border: none;
        padding-left: 25px;
        font-size: 1rem;
        color: #005eb8;
        font-family: Arial, sans-serif;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        text-align: left;
        text-decoration: underline;
        cursor: pointer;

        &:focus {
            @include link-focus;
        }
    }

    &_file_upload_error {
        font-family: Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0;
        text-align: left;
        color: #d5281b;
    }

    &_upload-submission {
        display: flex;
        align-items: baseline;

        .lloydgeorge_link {
            margin-left: 25px;
            padding: 0;

            &:focus {
                @include link-focus;
            }
        }
    }
}

//Feedback
#feedback-form {
    max-width: 800px;

    & form > div {
        margin: 50px 0;
    }
}

// NavLinks
.navlinks {
    display: initial;

    &_wrapper {
        display: flex;
        flex-flow: row nowrap;
    }

    .nhsuk-header__navigation-title {
        color: $color_nhsuk-white;
    }

    .nhsuk-header__navigation-close {
        display: none;
    }

    &_item {
        a,
        a:hover {
            color: $color_nhsuk-white;
        }

        a:visited {
            color: $color_nhsuk-white;
        }

        &--desktop {
            margin: 0 2rem;
        }
    }
}

// Generic
.pdfobject-container:focus {
    border: 2px solid #212b32;
    outline: 4px solid #ffeb3b;
    outline-offset: 0;
}

.deletion-complete {
    width: 711px;

    &_card {
        &_content {
            padding: 95px 76px;
            text-align: center;
            background-color: $color_nhsuk-blue;
            color: #fff;
            font-weight: 400;
            font-size: 1.5rem !important;
            white-space: pre-wrap;

            &_header {
                font-weight: 700;
                font-size: 3rem;
                margin-bottom: 25px;
            }

            &_subheader {
                font-weight: 700;
                margin-top: 25px;
            }

            &_description {
                font-size: 1.5rem !important;
            }
        }
    }
}

.document-list-view-list li {
    font-size: 1rem;
    list-style-type: none;
}

.link-button {
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    border-spacing: 0;
    box-sizing: inherit;
    text-align: left;
    color: $color_nhsuk-blue;
    text-decoration: underline;

    &:hover {
        color: #7c2855;
        text-decoration: none;
    }

    &:active {
        color: #002f5c;
    }

    &:focus {
        @include link-focus;
    }
}

.nhsuk-error-summary__list div {
    margin-bottom: 24px;
}

// Helper

@-moz-document url-prefix() {
    #pdf-viewer {
        margin-top: 6px;
    }
}

.clickable {
    cursor: pointer;
}

.table-column-header {
    font-size: 1.5rem;
}

.separator {
    border-bottom: solid 1px $color_nhsuk-grey-3;
    margin-bottom: 48px;
}

.govuk-phase-banner {
    background: #fff;
    border: none;
}

.govuk-phase-banner__content__tag {
    text-transform: none;
}

.govuk-warning-text__icon {
    border: 3px solid $color_nhsuk-yellow;
    background: $color_nhsuk-yellow;
    color: $nhsuk-text-color;
}

.govuk-warning-text {
    display: flex;
    align-items: center;
}

.nhs-warning-color {
    color: $color_nhsuk-red;
}
