$govuk-compatibility-govukelements: true;
@import 'node_modules/govuk-frontend/govuk/components/phase-banner/phase-banner';
@import 'node_modules/govuk-frontend/govuk/components/warning-text/warning-text';

@import 'node_modules/nhsuk-frontend/packages/nhsuk';
@import 'node_modules/nhsuk-frontend/packages/core/all';
@import 'node_modules/nhsuk-frontend/packages/components/button/button';
@import 'node_modules/nhsuk-frontend/packages/components/input/input';
@import 'node_modules/nhsuk-frontend/packages/components/tables/tables';

/**
*   Styleguide:  Blocks, Elements and Modifiers
*   Docs: https://getbem.com/
**/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner_button {
    display: flex;
    color: $color_nhsuk-black;
    background: $color_nhsuk-yellow;

    &:hover {
        color: $color_nhsuk-black;
        background: $color_nhsuk-yellow;
    }
    &:disabled {
        color: $color_nhsuk-black;
        background: $color_nhsuk-yellow;
        opacity: 1;
    }
    &-spinner {
        border: nhsuk-spacing(1) solid rgba($color_nhsuk-white, 0.8);
        border-top: nhsuk-spacing(1) solid $color_nhsuk-black;
        animation: spin 1s linear infinite;
        box-sizing: border-box;
        margin: 5px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

.spinner-blue {
    animation: spin 2s linear infinite;
    border: nhsuk-spacing(3) solid $color_nhsuk-grey-4;
    border-top: nhsuk-spacing(3) solid tint($color_nhsuk-blue, 15%);
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.nhsuk-loader {
    @include nhsuk-responsive-margin(4, bottom);
    @include nhsuk-responsive-margin(4, top);
    position: relative;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    &__text {
        @include nhsuk-typography-responsive(19);
        padding-bottom: 16px;
        font-weight: 700;
        display: block;
        margin-bottom: 0;
    }
}

.link-button {
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    border-spacing: 0;
    box-sizing: inherit;
    text-align: left;
    color: $color_nhsuk-blue;
    text-decoration: underline;
    &:hover {
        color: #7c2855;
        text-decoration: none;
    }
    &:active {
        color: #002f5c;
    }
    &:focus {
        background-color: #ffeb3b;
        box-shadow:
            0 -2px #ffeb3b,
            0 4px #212b32;
        color: #212b32;
        outline: 4px solid transparent;
        text-decoration: none;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.clickable {
    cursor: pointer;
}

.table-column-header {
    font-size: 24px;
}

// Lloyd George

.lloydgeorge {
    &_record-stage {
        &_patient-info {
            p {
                font-size: 19px;
            }
            p:first-child {
                margin-bottom: 5px;
                font-weight: 700;
            }
            p:nth-child(2) {
                margin-bottom: 0;
            }
        }
        &_header {
            margin-bottom: 0;
            &-content {
                position: relative;
                &-label {
                    font-weight: 700;
                    font-size: 24px;
                }
                p {
                    margin-bottom: 0;
                }
                &-no_record {
                    text-align: right;
                    &-upload {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &_expander {
            position: relative;
            border-top: none;
            &-button {
                display: inline-block;
                position: absolute;
                right: 28px;
                top: 30px;
            }
        }
        &_gp-admin-non-bsol {
            &_inset-text {
                padding-bottom: 0;
                padding-top: 0;
                &_confirm-download-remove-button {
                    background-color: #b61105;
                    box-shadow: #9a0c02;
                    &:hover {
                        background-color: #9a0c02;
                    }
                    &:active {
                        background-color: #9a0c02;
                    }
                }
                &_checkbox {
                    margin-bottom: 30px;
                }
            }
        }
    }
    &_downloadall-stage {
        &_header {
            h2 {
                margin: 0;
            }
            h4 {
                font-weight: unset;
                font-style: unset;
            }
        }
        &_details {
            &-content {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }
        }
    }
    &_record-details {
        &_details {
            &--last-updated {
                margin-bottom: 16px;
            }
            &--num-files {
                color: #4c6272;
            }
        }
        &_download-remove-button {
            position: absolute;
            top: 80px;
            right: 32px;
            &_content {
                position: relative;
            }
        }
        &_actions {
            position: absolute;
            top: 32px;
            right: 32px;
            &-select {
                border-color: #000;
                background: #fff;
                position: relative;
                box-sizing: border-box;
                border: none;
                padding: 0;
                width: 182.5px;
                @media (max-width: 640px) {
                    width: 161.5px;
                }
                @media (max-width: 480px) {
                    display: none;
                }
                &_border {
                    border: solid black 2px;
                    width: 100%;
                    height: 100%;
                    &--selected {
                        border-width: 4px;
                    }
                }
                &:focus,
                &:active,
                &--selected {
                    box-shadow: 0px 0px 0px 4px #ffeb3b;
                }
                &_placeholder {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                    box-sizing: border-box;
                }
                &_icon {
                    height: 9px;
                    width: auto;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 5px;
                    box-sizing: border-box;
                }

                cursor: pointer;
            }
            &-menu {
                position: absolute;
                right: 0px;
                z-index: 1000;
                width: 252.5px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
                ol {
                    padding-left: 0;
                    li {
                        font-size: 16px;
                        list-style-type: none;
                    }
                }
            }
        }
    }
    &_download-complete {
        max-width: 620px;
        &_details {
            &-content {
                text-align: center;
                background-color: $color_nhsuk-blue;
                color: #fff;
                padding: 38px;
                font-size: 20px;
                &_header {
                    font-size: 48px;
                }
                &_subheader {
                    font-size: 34px;
                }
            }
        }
    }
    &_upload-complete {
        max-width: 620px;
        &_card {
            text-align: center;
            background-color: $color_nhsuk-blue;
            color: #fff;
            padding: 38px;
            font-size: 16px;
            &_header {
                font-size: 42px;
            }
        }
        &_subheader {
            font-size: 20px;
            font-weight: 700;
        }
    }
    &_drag-and-drop {
        display: flex;
        width: 100%;
        max-width: 960px;
        padding: 32px;
        align-items: center;
        gap: 34px;
        border: 1px dashed #212b32;
        background: #d8dde0;
    }
    &_link {
        background: none;
        border: none;
        padding-left: 25px;
        font-size: 16px;
        color: #005eb8;
        font-family: Arial, sans-serif;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        text-align: left;
        text-decoration: underline;
        cursor: pointer;
    }
}

.document-list-view-list li {
    font-size: 16px;
    list-style-type: none;
}

@-moz-document url-prefix() {
    #pdf-viewer {
        margin-top: 6px;
    }
}

.deletion-complete-card {
    text-align: center !important;
    width: auto !important;
    float: none !important;
    background-color: $color_nhsuk-blue;
    color: #fff;
}

.govuk-phase-banner {
    background: #fff;
    border: none;
}

.govuk-warning-text__icon {
    border: 3px solid $color_nhsuk-yellow;
    background: $color_nhsuk-yellow;
    color: $nhsuk-text-color;
}

.govuk-warning-text {
    display: flex;
    align-items: center;
}

#feedback-form {
    max-width: 800px;
    & form > div {
        margin: 50px 0;
    }
}
