@import 'node_modules/nhsuk-frontend/packages/nhsuk';
@import 'node_modules/nhsuk-frontend/packages/core/all';
@import 'node_modules/nhsuk-frontend/packages/components/button/button';
@import 'node_modules/nhsuk-frontend/packages/components/input/input';
@import 'node_modules/nhsuk-frontend/packages/components/tables/tables';

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner_button {
    display: flex;
    color: $color_nhsuk-black;
    background: $color_nhsuk-yellow;

    &:hover {
        color: $color_nhsuk-black;
        background: $color_nhsuk-yellow;
    }
    &:disabled {
        color: $color_nhsuk-black;
        background: $color_nhsuk-yellow;
        opacity: 1;
    }
    &-spinner {
        border: nhsuk-spacing(1) solid rgba($color_nhsuk-white, 0.8);
        border-top: nhsuk-spacing(1) solid $color_nhsuk-black;
        animation: spin 1s linear infinite;
        box-sizing: border-box;
        margin: 5px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

.spinner-blue {
    animation: spin 2s linear infinite;
    border: nhsuk-spacing(3) solid $color_nhsuk-grey-4;
    border-top: nhsuk-spacing(3) solid tint($color_nhsuk-blue, 15%);
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.nhsuk-loader {
    @include nhsuk-responsive-margin(4, bottom);
    @include nhsuk-responsive-margin(4, top);
    position: relative;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    &__text {
        @include nhsuk-typography-responsive(19);
        padding-bottom: 16px;
        font-weight: 700;
        display: block;
        margin-bottom: 0;
    }
}

.link-button {
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    border-spacing: 0;
    box-sizing: inherit;
    text-align: left;
    color: #005eb8;
    text-decoration: underline;
    &:hover {
        color: #7c2855;
        text-decoration: none;
    }
    &:active {
        color: #002f5c;
    }
    &:focus {
        background-color: #ffeb3b;
        box-shadow:
            0 -2px #ffeb3b,
            0 4px #212b32;
        color: #212b32;
        outline: 4px solid transparent;
        text-decoration: none;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.clickable {
    cursor: pointer;
}

.table-column-header {
    font-size: 24px;
}

// Lloyd George

.lloydgeorge {
    &_record-stage {
        &_patient-info {
            p:first-child {
                margin-bottom: 5px;
                font-weight: 700;
            }
            p:nth-child(1) {
                font-size: 16px;
                margin-bottom: 5px;
            }
            p:nth-child(2) {
                font-size: 16px;
            }
        }
        &_header {
            margin-bottom: 0;
            &-content {
                position: relative;
                &-label {
                    font-weight: 700;
                    font-size: 24px;
                }
            }
        }
        &_expander {
            position: relative;
            border-top: none;
            &-button {
                display: inline-block;
                position: absolute;
                right: 28px;
                top: 30px;
            }
        }
    }
}
.lg-actions {
    position: absolute;
    top: 32px;
    right: 32px;
    &-select {
        border-color: #000;
        position: relative;
        box-sizing: border-box;
        border: none;
        padding: 0;
        width: 182.5px;
        @media (max-width: 640px) {
            width: 161.5px;
        }
        @media (max-width: 480px) {
            display: none;
        }
        &_border {
            border: solid black 2px;
            width: 100%;
            height: 100%;
            &--selected {
                border-width: 4px;
            }
        }
        &:focus,
        &:active,
        &--selected {
            box-shadow: 0px 0px 0px 4px #ffeb3b;
        }
        &_placeholder {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            box-sizing: border-box;
        }
        &_icon {
            height: 9px;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            box-sizing: border-box;
        }

        cursor: pointer;
    }
    &-menu {
        position: absolute;
        right: 0px;
        z-index: 1000;
        width: 252.5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        ol {
            padding-left: 0;
            li {
                font-size: 16px;
                list-style-type: none;
            }
        }
    }
}

@-moz-document url-prefix() {
    #pdf-viewer {
        margin-top: 6px;
    }
}
