# .github/workflows/terraform-dev
name: 'Z-BASE Cypress Test Base: Run a cypress test job against a specific browser'

on:
  workflow_call:
    inputs:
      build_branch:
        description: 'Branch with smoke tests.'
        required: true
        type: 'string'
      base_url:
        description: 'Base URL to run tests against'
        required: true
        type: 'string'
      cypress_broswer:
        description: 'what browser to run against'
        required: true
        type: 'string'

permissions:
  pull-requests: write
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  
  view_action_parameters:
    name: View input params
    runs-on: ubuntu-latest
    steps: 
      - name: Display client passed variables
        run: |
          echo Build Branch: ${{ github.event.inputs.build_branch }}
          echo Cypress Base Url: ${{ github.event.inputs.base_url }}

  cypress-run-job:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.build_branch }}

      - name: Download the build folder
        uses: actions/download-artifact@v3
        with:
          name: build
          path: ./app/build

      # Npm run will run the app locally, we want to test the built application with env vars using serve
      - name: Install serve globally
        run: npm install -g serve

      - name: Cypress install
        run: |
          npm install --legacy-peer-deps
        working-directory: ./app

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: serve -s build
          browser: ${{ github.event.inputs.cypress_browser}}
          working-directory: ./app
        env:
          CYPRESS_BASE_URL: ${{ github.event.inputs.base_url }}
          CYPRESS_grepTags: 'regression'
