name: "Z-BASE Cypress Test: Run a cypress test job against all browsers"

on:
  workflow_call:
    inputs:
      build_branch:
        description: "Branch to run against"
        required: true
        type: "string"
      cypress_base_url:
        description: 'Base URL to run tests against'
        required: true
        type: 'string'

permissions:
  pull-requests: write
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:

  view_action_parameters:
    name: View input params
    runs-on: ubuntu-latest
    steps: 
    
      - name: Display client passed variables
        run: |
          echo Build Branch: ${{ github.event.inputs.build_branch }}
          echo Cypress Base Url: ${{ github.event.inputs.cypress_base_url }}

  cypress_test_chrome:
    uses: ./.github/workflows/base-cypress-test.yml
    with:
      build_branch: ${{ github.event.inputs.build_branch }}
      cypress_broswer: "chrome"
      cypress_base_url: ${{ github.event.inputs.cypress_base_url }}
  cypress_test_edge:
    uses: ./.github/workflows/base-cypress-test.yml
    with:
      build_branch: ${{ github.event.inputs.build_branch }}
      cypress_broswer: "edge"
      cypress_base_url: ${{ github.event.inputs.cypress_base_url }}
  cypress_test_firefox:
    uses: ./.github/workflows/base-cypress-test.yml
    with:
      build_branch: ${{ github.event.inputs.build_branch }}
      cypress_broswer: "firefox"
      cypress_base_url: ${{ github.event.inputs.cypress_base_url }}
