name: 'Z-BASE Lambdas: action to deploy a single lambda'

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      python_version:
        required: true
        type: string
      build_branch:
        required: true
        type: string
        default: main
      sandbox:
        required: true
        type: string
        default: main
      lambda_handler_name:
        required: true
        type: string
      lambda_aws_name:
        required: true
        type: string
    secrets:
      AWS_ASSUME_ROLE:
        required: true

permissions:
  pull-requests: write
  id-token: write
  contents: read

jobs:
  python_deploy_lambda:
    name: Deploy lambda ${{ inputs.lambda_handler_name }} to ${{ inputs.sandbox }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Display passed variables
        run: |
          echo Python Version: ${{ inputs.python_version }}
          echo Build Branch: ${{ inputs.build_branch }}
          echo Environment: ${{ inputs.environment }}
          echo Sandbox: ${{ inputs.sandbox }}
          echo Lambda Handler Name: ${{ inputs.lambda_handler_name }}
          echo Lambda AWS function: ${{ inputs.lambda_aws_name }}

      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: 'nhsconnect/national-document-repository'
          ref: ${{ inputs.build_branch }}
          fetch-depth: '0'

      - name: Set up Python ${{ inputs.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}

      - name: Make virtual environment
        run: make edge_env

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE }}
          role-skip-session-tagging: true
          aws-region: 'us-east-1'
          mask-aws-account-id: true

      - name: Create release package for Lambda ${{ inputs.lambda_aws_name }}
        run: |
          make lambda_name=${{ inputs.lambda_handler_name}} edge_zip

      - name: Upload Lambda Function to ${{ inputs.lambda_aws_name }}
        run: |
          RESPONSE=$(aws lambda update-function-code \
          --function-name ${{ inputs.sandbox }}_${{ inputs.lambda_aws_name }} \
          --zip-file fileb://build/lambdas/${{ inputs.lambda_handler_name }}/${{ inputs.lambda_handler_name }}.zip \
          --region 'us-east-1' \
          --publish \
          --output json)

          LAMBDA_VERSION=$(echo $RESPONSE | jq -r '.Version')
          echo "Lambda function updated to version: $LAMBDA_VERSION"
          
          LAMBDA_ARN=$(echo $RESPONSE | jq -r '.FunctionArn')
          echo "LAMBDA_ARN=$LAMBDA_ARN" >> $GITHUB_ENV

      - name: Get CloudFront Distribution ID
        id: cloudfront
        run: |
          aws cloudfront list-distributions > distributions.json
          distribution_id=$(jq -r --arg origin_id "${{ inputs.sandbox }}-lloyd-george-store" \
          '.DistributionList.Items[] | select(.Origins.Items[].Id==$origin_id) | .Id' distributions.json | head -n 1)

          echo "Distribution ID found: $distribution_id"
          echo "DISTRIBUTION_ID=$distribution_id" >> $GITHUB_ENV

      - name: Updating Cloudfront to latest Lambda@Edge
        run: |
          ./lambdas/venv/bin/python3 lambdas/scripts/update_cloudfront.py
        env:
          AWS_REGION: 'us-east-1'
          LAMBDA_ARN: ${{ env.LAMBDA_ARN }}