# .github/workflows/terraform-dev
name: 'Lambdas - Development CI Feature Branch to Main'

on:
  push:
    branches:
    - main
    paths:
    - 'lambdas/upload_document_lambda/**'
  pull_request:
    branches:
    - main
    paths:
    - 'lambdas/upload_document_lambda/**'

permissions:
  pull-requests: write
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  python_process_upload_docuement:
    runs-on: ubuntu-latest
    environment: development
    defaults:
      run:
        working-directory: ./lambdas
    strategy:
      matrix:
        python-version: ["3.9","3.10"]
  
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Lint with ruff
      run: |
        # stop the build if there are Python syntax errors or undefined names
        ruff --format=github --select=E9,F63,F7,F82 --target-version=py37 .
        # default set of ruff rules with GitHub Annotations
        ruff --format=github --target-version=py37 .
      working-directory: ./lambdas/upload_document_lambda

    - name: Test with pytest
      run: |
        pytest
      working-directory: ./lambdas/upload_document_lambda
    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: ${{ secrets.AWS_ASSUME_ROLE }}
        role-skip-session-tagging: true
        aws-region: ${{ vars.AWS_REGION }}
    
    - name: View AWS Role
      run: aws sts get-caller-identity
    