name: Subscribe to MNS

on:
  workflow_dispatch:
    inputs:
      build_branch:
        required: true
        type: string
      environment:
        required: true
        type: string
      sandbox:
        required: true
        type: string
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
jobs:
  placeholder:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    defaults:
      run:
        working-directory: lambdas
    steps:
      - name: Placeholder
        run: |
          echo "Running placeholder job on ${inputs.sandbox}"

